@import "./styles//variables/variables.scss";

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: Trebuchet MS;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;

	background: $--background-color;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

// Bootstrap
.container {
	max-width: 1340px !important; 
}

.center-block {
	text-align: center;
}

.float-right {
	float: right;
}

// Element UI
.el-form {
	padding: 1em !important;
}

.no-padding, .el-header {
	padding: 0 !important;
}

.el-avatar {
	background: $--background-color !important;
}

.el-card {
	box-shadow: none !important;
	border: none !important;
}

.el-message-box__title, .el-message-box__content, .el-card, .el-page-header__content, .el-submenu__title, .el-menu-item {
	color: $--text-color !important;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

// Custom css
.align-app {
	margin-top: 30px;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
		margin-top: -55px;
		transform: scale(0);
	}
	30% {
    opacity: 0;
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
		margin-top: 0px;
		transform: scale(1);
  }
}

@import "./styles/components/bear.scss";
@import "./styles/components/edit-account.scss";
@import "./styles/components/login-register.scss";
@import "./styles/components/user-card.scss";
@import "./styles/components/view-list.scss";