$--name-email-height: 22px;

.el-submenu__title, .el-menu-item {
	color: $--text-color !important;
	
	height: auto !important;
	min-height: 56px;
	white-space: unset !important;
}
.el-menu {
	border: none !important;
}
.el-submenu__icon-arrow {
	margin-top: -4px !important;
}
.el-menu-item i {
	font-size: 22px !important;
}
.full {
	width: 100%;
}
.list {
	padding-inline-start: 0;
	padding: 0 .5em 0 .5em;

	li {
		transition: background-color .3s,color .3s;
		max-width: 310px;
		list-style: none;
	}
	li:hover {
		background-color: $--bg-hover;
		cursor: pointer;
	}
}
.name {
	display: inline-block;
	width: 74%;
	min-height: $--name-email-height;	line-height: $--name-email-height;
	font-size: 1.1em;
	margin-left: 10px;
}
.user-menu {
	min-width: 310px;
	padding-right: 15px;
	padding-left: 15px;
}

@media only screen and (max-width:767px){
	.user-menu {
		width: 100%;
	}
}