$--name-email-height: 22px;

.el-submenu__title, .el-menu-item {
	color: $--text-color !important;
	
	height: auto !important;
	min-height: 56px;
	white-space: unset !important;
}
.el-menu {
	border: none !important;
}

.el-submenu__icon-arrow {
	margin-top: -4px !important;
}

.el-menu-item i {
	font-size: 22px !important;
}

.user-menu {
	float: left;
	width: 300px;
}

.name {
	display: inline-block;
	width: 74%;
	min-height: $--name-email-height;	line-height: $--name-email-height;
	font-size: 1.1em;
	margin-left: 10px;
}